/vendor
/.idea
/.vscode
.idea
.vscode
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/database/database.sqlite
/.docker

!*.gitignore

*vendor

Dependence-Injection-Container/vendor
Dependence-Injection-Container/html
Dependence-Injection-Container/cache

Doctrine/vendor
Integration-Tests/testdox.txt
